\cvsection{{% emit(extracurricular['title']) %}}
\begin{cvhonors}
{%
  for i in (extracurricular['extracurricular']):
    emit_tex('\cvhonor ')
    emit_braces(i['role'])
    emit_braces(i['about'])
    emit_braces(i['duration'])
    emit_braces(i['group'])
%}
\end{cvhonors}
