\cvsection{{% emit(data['extracurricular']['title']) %}}
\begin{cvhonors}
{%
  for i in (data['extracurricular']['content']):
    emit_tex('\cvhonor ')
    emit_braces(i['title'])
    emit_braces(i['about'])
    emit_braces(i['duration'])
    emit_braces(i['location'])
%}
\end{cvhonors}
