\cvsection{{% emit(main['description']['title']) %}} % Summary

\begin{cvparagraph}
{% emit(main['description']['content']) %}
\end{cvparagraph}

\cvsection{{% emit(research['interests']['title']) %}}
\begin{cvskills}
{%
  for i in (research['interests']['content']):
    emit_tex('\cvskill ')
    emit_braces(i['title'])
    emit_braces(list_to_string(i['content']))
%}
\end{cvskills}
